<head>
  <title>pcs-gui</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/overpass.css" />
  <link rel="stylesheet" type="text/css" href="/css/liberation.css" />
  <script src="/js/jquery-1.7.1.min.js"></script>
  <script src="/js/jquery-ui-1.8.17.custom.min.js"></script>
</head>
<html>
  <body>

  <div id="header">
      <table id="menu_controls" width=1000>
	<tr><td rowspan=2 width="170px" style="vertical-align: top;">
	    <div id="logo">
	      <img src="/images/HAM-logo.png">
	    </div>
	  </td>
	</tr>
	<tr><td>
	    <div id="menu_list">
	      <table>
		<tr>
		  <td colspan=2 style="padding-bottom:8px;">
		    <div style="float:left">
		      <div style="float:right;" id="dropdownl">
			Cluster XXX<span style="float:right;" class="downarrow sprites"></span>
		      </div>
		    </div>
		  </td>
		  <td colspan=4 style="padding-bottom:8px;">
		    <div style="float:right">
		      <div id="dropdownr">
			Admin@redhat.com<div style="float:right;" class="downarrow sprites"></div>
		      </div>
		    </div>
		  </td>
		</tr>

		<tr>
		  <td class="menuitem first"><a href="/nodes" <%= @nodemenuclass %>>NODES</a></td>
		  <td class="menuitem"><a href="/resources" <%= @resourcemenuclass %>>RESOURCE</a></td>
		  <td class="menuitem"><a href="/resourcedeps" <%= @resourcedepsmenuclass %>>RESOURCE DEPENDENCIES</a></td>
		  <td class="menuitem"><a style="color:red;" href="/fencedevices">FENCE DEVICES</a></td>
		  <td class="menuitem"><a style="color:red;" href="/failoverdomains">FAILOVER DOMAINS</a></td>
		  <td class="menuitem"><a href="/configure/pacemaker" <%= @configuremenuclass %>>CONFIGURE</a></td>
		</tr>
	      </table>
	    </div>
	</td>
	<td>
	</td>
      </tr>
      </table>
  </div>

  <%= yield %>
  <tr><td colspan=3>
      <div id="footer">
	<div id="copyright">&copy 2011</div>&nbsp;<a href="http://www.redhat.com">Red Hat, Inc.</a>  <a href="http://access.redhat.com/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Red Hat Customer Portal</a>
	<div id="help"><a href="#">Help</a></div>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
