<head>
  <title>pcs-gui</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/overpass.css" />
  <link rel="stylesheet" type="text/css" href="/css/liberation.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.17.custom.css" />
  <script src="/js/jquery-1.7.1.js"></script>
  <script src="/js/jquery-ui-1.8.17.custom.min.js"></script>
  <script src="/js/pcs-gui.js"></script>
  <script type="text/javascript">
    var origMainTRHeight = 0;
    function resizeDialog() {
      $('#add_resource').dialog('option','position','center');
    }
    function resizeTable(refresh) {
      if (refresh == true) {
	origMainTRHeight = $('#main > tbody > tr:nth-child(3)').height();
      }
      var wheight = $(window).height();
      var header = $('#header').height();
      var footer = $('#footer').height();
      var tr1 = $('#main > tbody > tr:nth-child(1)').height();
      var tr2 = $('#main > tbody > tr:nth-child(2)').height();
      var tr3 = $('#main > tbody > tr:nth-child(4)').height();
      var push = $('#push').height();
      var newheight = wheight - header - footer - tr1 - tr2 - tr3 - 25;
      if (origMainTRHeight <= newheight) {
	$('#main > tbody > tr:nth-child(3)').height(newheight);
	$('#content').height($('#main').height());
      }
    }
    $(window).resize(function() {
	resizeTable();
	});
    $(window).load(function() {
	resizeTable(true);
	$('#add_ra_type').trigger('change');
	$('#new_resource_agent').ajaxStop(function() {
	  resizeDialog();
	  });
	});

  </script>
</head>
<html>
  <body>
    <div id="wrapper">
  <div id="header">
    <div id="topmenu">
    <table id="menu_controls">
	<tr><td rowspan=2 width="170px" style="vertical-align: top;">
	    <div id="logo">
	      <img src="/images/HAM-logo.png">
	    </div>
	  </td>
	</tr>
	<tr><td>
	    <div id="menu_list">
	      <table>
		<tr>
		  <td colspan=2 style="padding-bottom:8px;">
		    <div style="float:left">
		      <div style="float:right;" id="dropdownl">
			Cluster:<%=@@cluster_name%><span style="float:right;" class="downarrow sprites"></span>
		      </div>
		    </div>
		  </td>
		  <td colspan=4 style="padding-bottom:8px;">
		    <div style="float:right">
		      <div id="dropdownr">
			Admin@redhat.com<div style="float:right;" class="downarrow sprites"></div>
		      </div>
		    </div>
		  </td>
		</tr>

		<tr>
		  <td class="menuitem first"><a href="/nodes" <%= @nodemenuclass %>>NODES</a></td>
		  <td class="menuitem"><a href="/resources" <%= @resourcemenuclass %>>RESOURCES</a></td>
		  <td class="menuitem"><a href="/fencedevices">FENCE DEVICES</a></td>
		  <td class="menuitem"><a style="color:red;" href="/failoverdomains">FAILOVER DOMAINS</a></td>
		  <td class="menuitem"><a href="/configure/pacemaker" <%= @configuremenuclass %>>CONFIGURE</a></td>
		</tr>
	      </table>
	    </div>
	</td>
	<td>
	</td>
      </tr>
      </table>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>
  <div id="push">
  </div>
</div>
  <div id="footer">
    <div id="copyright">&copy 2012</div>&nbsp;<a href="http://www.redhat.com">Red Hat, Inc.</a>  <a href="http://access.redhat.com/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Red Hat Customer Portal</a>
    <div id="help"><a href="#">Help</a></div>
  </div>
</body>
  <script type="text/javascript">
    $(".node_list_check").click(function(e){
	e.stopPropagation();
    });
  </script>
</html>
