  <table id="main" width=930>
    <tr><td id="page_header" colspan=3>
	RESOURCE DEPENDENCIES
      </td>
    </tr>
    <tr>
      <td id="remove_add" class="borderbottom">
	<div class="x sprites"><a href="#" class="x sprites"></a></div><div class=link">&nbsp;Remove&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<div class="plus sprites"></div><div class="link">&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<div class="plus sprites"></div><div class="link">&nbsp;Create Group</div>
      </td>
      <td class="borderbottom">&nbsp;</td>
      <td id="tab_name" width="135">
	<div style="float: left">&nbsp;Edit Dependencies&nbsp;</div><div class="check sprites"></div>
      </td>
    </tr>
    <tr>
      <td id="node_list">
	<table cellpadding=0 cellspacing=0 style="float:left;">
	  <% @nodes.each  do |i,node| %>
	    <% if i != @cur_node %>
	      <tr onmouseover="$(this).css('background-color', 'e4f5fd');$(this).find('td').last().css('display','');" onmouseout="$(this).css('background-color','ffffff');$(this).find('td').last().css('display','none');" onclick="window.location='/nodes/<%=i%>'">
	      <% else %>
		<tr style="background-color: #e4f5fd">
	      <% end %>
	    <td>
	      <input class="node_list_check" type="checkbox">
	    </td>
	    <td nowrap style="cursor:default;padding-right:20px;">
	      <%= node.name %>
	    </td>
	    <td class="resource_type">
	      <%= node.hostname %>
	    </td>
	    <td nowrap><div style="margin-right:5px;" class="previewmap sprites"></div>
	      Preview Map
	    </td>
	    <% if i != @cur_node %>
	      <td style="display:none">
	      <% else %>
	      <td>
	      <% end %>
	      <div class="arrow sprites"></div>
	    </td>
	  </tr>
	<% end %>
	</table>
      </td>
      <td id="node_info" colspan=2>
	<div id="test">
	  <div id="node_info_header">
	    <div id="node_info_header_title">Edit</div>
	    <div id="node_info_header_title_name">&nbsp;<%=@cur_node.name%></div>
	  </div>

	  <div id="node_sub_info">
	    <table>
	      <tr>
		<td><input style="margin-right: 50px;" type="text" value="<%=@cur_node.name%>" size="35" class="text_field"></td>
	      </tr>
	    </table>
	  </div>

	  <div id="node_details">
	    <table><tr>
		<td nowrap><div class="bold resource_name">THIS RESOURCE</div></td>
	      </tr>
	      <tr>
		<td><div class="reg"><%=@cur_node.hostname%></div></td>
	      </tr>
	    </table>
	  </div>

	  <table>
	    <tr><td class="center" style="padding-top:20px;" colspan=2>
		<input type=submit class="text_field" value="Apply Changes">
	      </td>
	    </tr>
	  </table>
      </td>
    </tr>
  </div>
</table>
