  <table id="configure_main">
    <tr><td id="page_header" colspan=3>
	<table id="config_options"><tr>
	    <td>CLUSTER PROPERTIES</td>
	    <td class="<%= (params[:page] == "general" or params[:page] == nil) ? "selected" : "" %>"><a href="/configure/general">General</a></td>
	    <td class="<%= params[:page] == "pacemaker" ? "selected" : "" %>"><a href="/configure/pacemaker">Pacemaker</a></td>
	    <td class="<%= params[:page] == "network" ? "selected" : "" %>"><a href="/configure/network">Network</a></td>
	    <td class="<%= params[:page] == "resource" ? "selected" : "" %>"><a href="/configure/resource">Resource</a></td>
	    <td class="<%= params[:page] == "logging" ? "selected" : "" %>"><a href="/configure/logging">Logging</a></td>
	</tr></table>
    </tr>
    <tr><td colspan=3>
	<hr>
    </td></tr>
    <tr>
      <td id="config" colspan=3>
	<form method=POST>
	  <% @config_options.each { |co_group| %>
	    <table>
	      <% co_group.each { |co| %>
		<tr>
		  <td class="label"><%= co.name %>:</td>
		  <td><%= co.html %><span class="units"><%= co.units %></span></td>
		</tr>
	      <% } %>
	    </table>
	    <br>
	  <% } %> 
	  <% if @config_options.length != 0 %>
	    <input type=submit style="margin-left:20px;" class="text_field" value="Apply Changes">
	  <% end %>
	</form>
      </td>
    </tr>
    <tr><td colspan=3>
	<hr>
    </td></tr>
  </div>
</table>
